.nav {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
  /* border: 1px solid #111111; */
  text-align: center;
}

.nav-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.5em;
  font-weight: 500;
  opacity: .6;
  width: max-content;
  margin: 0.2em auto;
  /* border: 1px solid #73AD21; */
}
.nav-title:hover {
  opacity: 1.0;
}

.nav .description {
  font-size: 1.6em;
  font-family: Monospace;
  font-weight: 300;
}

.nav ul {
  list-style-type: none;
  color: black;
  padding: 0;
}
.nav ul li {
  display: inline-block;
  font-size: 24px;
  opacity: .6;
  /* border: 1px solid #73AD21; */
}
.nav ul li:hover {
  opacity:1.0;
}

/* .nav a { */
a {
  color: black;
  text-decoration: none;
}
a:active {
  color: blue;
  text-decoration: none;
}

#search-bar .fa {
  font-size: 24px;
}
#search-bar { /* most top level */
  margin: 32px auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 20px;
  text-align: left;
  font-family: Monospace;
}
#search { /* input bar */
  width: calc(95%);
  border: none;
  line-height: 2em;
  outline: none;
  border-style: none;
  font-family: Monospace;
  font-size: 24px;
}
#search-result {
  display: none;
  position: absolute;
  margin-top: 1px;
  width: calc(50%);
  max-height: 325px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 4px 8px 0 #ccc;
  z-index: 99999;
  font-size: 1.6em;
  font-family: Monospace;
  /* border: 1px solid #ccc; */
}
#search-result a {
  opacity: .6;
}
#search-result a:hover {
  opacity: 1.0;
}

.main {
  max-width: 800px;
  width: 80%;
  /* border: 1px solid #733311; */
  margin: auto;
}
